.fond {
  display: flex;
  background-image: url("../assets/Win.jpeg");
  background-size: cover;
  background-position-x: 50%;
  background-position-y: center;
  height: 100vh;
  align-items: center;
  justify-content: center;
}

.logo {
  display: flex;
  position: absolute;
  text-align: center;
  width: 90%;
  height: auto;
  top: 1%;
  min-width: 400px;
  min-height: auto;
}

.text_container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  background-color: rgba(0, 140, 255, 0.95);
  border-radius: 25px;
  opacity: 0.9;
  width: 70%;
  height: 100%;
  margin-bottom: 2rem;
  padding: 10px 20px;
  color: #dfcabe;
}

.text {
  height: 40%;
  color: #dfcabe;
  font-weight: bold;
}

.textContent {
  font-weight: bold;
  text-align: justify;
  font-size: 1.4rem;
}

.block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 25%;
}

.btnExit {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px 20px;
  border: none;
  color: #dfcabe;
  border-radius: 15px;
  letter-spacing: 4px;
  transition: 0.5s;
  transition-property: box-shadow;
  width: 100%;
  height: 100%;
  cursor: pointer;
  background: #008cff;
  box-shadow: 0 0 17px #008cff;
  border: #008cff 5px solid;
  font-size: 1.25rem;
  text-align: center;
}
.btnExit:hover {
  box-shadow: 0 0 5px rgb(0, 140, 255), 0 0 25px rgb(0, 140, 255),
    0 0 50px rgb(0, 140, 255), 0 0 100px rgb(0, 140, 255);
  border: #7b95a8 5px solid;
}

@media (min-width: 768px) {
  .logo {
    top: 0;
    left: 35%;
    width: 30%;
    height: auto;
  }

  .text_container {
    color: rgba(255, 255, 255, 1);
  }

  .text {
    color: rgba(255, 255, 255, 1);
  }

  .btnExit {
    color: rgba(255, 255, 255, 1);
  }
}
